.App {
	text-align: center;
}

.hero {
	background-color: darken(#fafafa, 5%);
	text-align: center;
}

.social-network {
	margin-top: 5em;
	margin-bottom: 1em;
	&-list {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}
}
