/** fonts/ */
@font-face {
	font-family: 'bwIcons';
	src: url('fonts/bwIcons.eot');
	src: url('fonts/bwIcons.eot?#iefix') format('eot'),
		url('fonts/bwIcons.woff2') format('woff2'),
		url('fonts/bwIcons.woff') format('woff'),
		url('fonts/bwIcons.ttf') format('truetype'),
		url('fonts/bwIcons.svg#bwIcons') format('svg');
}

@mixin bwIcon-styles {
	font-family: 'bwIcons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%bwIcon {
	@include bwIcon-styles;
}

@function bwIconChar($filename) {
	$char: '';

	@if $filename == 'github' {
		$char: '\ea01';
	}

	@if $filename == 'meetup' {
		$char: '\ea02';
	}

	@if $filename == 'twitter' {
		$char: '\ea03';
	}

	@return $char;
}

@mixin bwIcon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend == true {
			@extend %bwIcon;
		} @else {
			@include bwIcon-styles;
		}
		content: bwIconChar($filename);
	}
}

// name,unicode
.bwIcon-github {
	@include bwIcon('github');
}

// name,unicode
.bwIcon-meetup {
	@include bwIcon('meetup');
}

// name,unicode
.bwIcon-twitter {
	@include bwIcon('twitter');
}
